:root {
  --font-color: #E4E5EA;
  --hover-color: #FCB045;
}

.body {
  max-width: 1440px;
  margin: 0 auto;
  background: #0E1014;
  font-family: 'Inter', sans-serif;
  color: var(--font-color);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  box-sizing: border-box;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.logo__capture {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 10px;
  width: 150px;
}

.header__nav {
  width: 100%;
  max-width: 503px;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

.link {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: var(--font-color);
  transition: color 100ms 100ms;
}

.link:hover {
  text-decoration: underline;
  color: var(--hover-color);
}

.contacts {
  font-style: normal;
}

.contacts_header {
  display: flex;
}

.contacts__phone {
  font-weight: 500;
  font-size: 16px;
}

.motto__header {
  width: 290px;
}

.motto__header_highlight {
  font-weight: 900;
}

.motto__desc {
  width: 200px;
}

.offer {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.offer__header {
  max-width: 350px;
}

.offer__header_highlight {
  text-transform: uppercase;
}

.gifts {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 20px;

}

.gifts__header {
  text-transform: uppercase;
}

.offer__button {
  background: aquamarine;
  color: var(--font-color);
  font-size: 20px;
  border: none;
  width: 250px;
  height: 50px;
  transition: color 100ms 100ms;
}

.offer__button:hover {
  cursor: pointer;
  color: var(--hover-color);
}

.footer {
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: space-between;

}

.links__header {
  text-transform: uppercase;
}

.footer__nav {
  width: 100%;
}

.nav__list_col {
  flex-direction: column;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  column-gap: 20px;
}

.nav__item_col {
  margin: 5px 0;
}

.links__contacts {
  text-align: right;
}

.legal {
  text-align: right;
}

.legal__link {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .contacts_header {
    display: none;
  }

  .links {
    flex-direction: column;
    align-items: flex-start;
  }

  .links__contacts {
    text-align: left;
  }

  .legal {
    text-align: left;
  }
}

@media (max-width: 720px) {
  .tb-hidden {
    display: none;
  }

  .main {
    flex-direction: column;
  }
}

@media (max-width: 540px) {
  .logo {
    display: none;
  }
}

@media (max-width: 480px) {
  .offer__header {
    font-size: 20px;
  }

  .menu-list {
    grid-template-columns: repeat(2, 130px);
  }
}

@media (max-width: 400px) {
  .header__list {
    text-transform: uppercase;
  }

  .offer {
    text-align: left;
    align-items: flex-start;
  }

  .gifts {
    display: none;
  }

  .offer__button {
    display: none;
  }
}