:root {
  --font-color: #E4E5EA;
  --hover-color: #FCB045;
}

.body {
  max-width: 1440px;
  margin: 0 auto;
  background: #0E1014;
  font-family: "Inter", sans-serif;
  color: var(--font-color);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.bg__ball {
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.purple-ball {
  width: 60px;
  height: 60px;
  background: radial-gradient(64% 64% at 27.25% 26.5%,
      rgba(236, 208, 255, 0.64) 0%,
      rgba(161, 93, 207, 0.24) 59.67%,
      rgba(118, 49, 164, 0.208) 78.59%,
      rgba(86, 24, 128, 0.232) 100%);
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
  left: 60.27%;
  top: -2px;
}

.large-red-ball {
  width: 83px;
  height: 83px;
  background: radial-gradient(64% 64% at 27.25% 26.5%,
      rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%,
      rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
  left: 36.04%;
  top: 83px;
}

.small-red-ball {
  width: 28px;
  height: 28px;
  background: radial-gradient(64% 64% at 27.25% 26.5%,
      rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%,
      rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
  left: 59.1%;
  top: 547px;
}

.light {
  opacity: 0.5;
  filter: blur(196px);
}

.purple-light {
  width: 259px;
  height: 259px;
  background: #833AB4;
  left: 41.82%;
  top: -154px;
}

.red-light {
  width: 311px;
  height: 311px;
  background: #961A1A;
  left: -7.08%;
  top: 251px;
}

.container {
  box-sizing: border-box;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.logo__capture {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 10px;
  width: 150px;
  margin-top: 7px;
}

.header {
  padding-top: 57px;
}

.header__list {
  margin-top: 5px;
}

.header__nav {
  width: 100%;
  max-width: 503px;
  box-sizing: border-box;
  margin-right: 96px;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

.link {
  font-weight: 500;
  text-decoration: none;
  color: var(--font-color);
  transition: color 100ms 100ms;
}

.link:hover {
  text-decoration: underline;
  color: var(--hover-color);
}

.contacts {
  font-style: normal;
}

.contacts_header {
  display: flex;
  margin-top: 3.5px;
}

.contacts__phone {
  font-weight: 500;
  font-size: 16px;
}

.contacts__phone_header {
  margin-right: 46px;
}

.contacts__messangers {
  display: flex;
  justify-content: space-between;
}

.contacts__messangers_header {
  width: 120px;
}

.main {
  padding-top: 43px;
}

.motto__header {
  width: 290px;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 30px;
}

.motto__header_highlight {
  font-weight: 900;
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.motto__desc {
  width: 265px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.offer {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.offer__header {
  max-width: 356px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 55px 0 0 0;
}

.offer__header_highlight {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.highlight-1 {
  background: linear-gradient(90deg, #FC893B 36.99%, #FD1D1D 100%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.highlight-2 {
  background: linear-gradient(90deg, #FCB045 36.99%, #FC6E34 100%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gifts {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  row-gap: 30px;
  column-gap: 25px;
  margin-top: 40px;
}

.gifts__header {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  margin: 0;
}

.gifts__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 6px 0 0 0;
}

.offer__button {
  background: #4077F3;
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  width: 262px;
  height: 61px;
  transition: color 100ms 100ms;
  margin-top: 63px;
}

.offer__button:hover {
  cursor: pointer;
  color: var(--hover-color);
}

.footer {
  flex-direction: column;
  padding-top: 110px;
}

.links {
  display: flex;
  justify-content: space-between;

}

.links__header {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.footer__nav {
  width: 100%;
}

.nav__list_col {
  flex-direction: column;
  padding-bottom: 2px;
  margin-top: 8px;
}

.menu-list {
  display: grid;
  grid-template-columns: 195px 215px;
}

.tb-shown {
  display: none;
}

.nav__item_col {
  margin: 5px 0;
}

.links__menu {
  padding-right: 63px;
}

.links__contacts {
  text-align: right;
}

.contacts_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 105px;
}

.contacts__messangers_footer {
  width: 80px;
  align-self: flex-end;
  padding-top: 4px;
}

.contacts__phone_footer {
  margin-top: 5px;
}

.legal {
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.legal__copyright {
  margin: 8px 0 7px;
}

.legal__link {
  text-decoration: underline;
  font: inherit;
}

@media (max-width: 1000px) {
  .contacts_header {
    display: none;
  }

  .links {
    flex-direction: column;
    align-items: flex-start;
  }

  .links__contacts {
    text-align: left;
  }

  .contacts__messangers_footer {
    align-self: flex-start;
  }

  .legal {
    text-align: left;
  }
}

@media (max-width: 720px) {
  .tb-hidden {
    display: none;
  }

  .tb-shown {
    display: initial;
  }

  .header__nav {
    margin-right: 0;
  }

  .main {
    flex-direction: column;
  }
}

@media (max-width: 540px) {
  .logo {
    display: none;
  }

  .header {
    background-color: #1E1E1E;
  }
}

@media (max-width: 480px) {
  .offer__header {
    font-size: 20px;
  }

  .menu-list {
    grid-template-columns: repeat(2, 130px);
  }
}

@media (max-width: 400px) {
  .header {
    padding-top: 15px;
    padding-bottom: 9px;
    position: fixed;
  }

  .header__nav {
    width: 90vw;
  }

  .header__list {
    text-transform: uppercase;
    font-size: 12px;
  }

  .motto__header {
    font-size: 36px;
    margin: 0;
    padding-top: 53px;
  }

  .motto__desc {
    margin-top: 15px;
  }

  .offer {
    text-align: left;
    align-items: flex-start;
  }

  .gifts {
    display: none;
  }

  .offer__button {
    display: none;
  }
}